body {
  font-family:'Nunito', monospace, sans-serif;
}

h2 {
  letter-spacing:0.3em;
  color:#555;
}

h1 {
  font-size:3em;
}

ul li span {
  color:red;
}

section.filter {
  float:left;
}

#logo {
  float:left;
  margin:5px 20px 0px 0px;
}

#search input {
  border: 1px solid #999;
  outline:0;
  height:45px;
  width:990px;
  font-size:2em;
  margin: 100px 0px 0px 0px;
}

#li-login {
  position:absolute;
  right:50px;
  top:20px;
  display:none;
}