body {
  font-family:'Nunito', monospace, sans-serif;
}

h2 {
  letter-spacing:0.3em;
  color:#555;
}

h1 {
  font-size:3em;
}

mark {
  background-color:yellow;
}

section.filter {
  width:350px;
}

section.filter li {
  border:1px solid gray;
  padding:5px;
  margin:5px 0px;
  border-radius:15px;
  cursor:pointer;
  opacity:0.7;
  transition: opacity .5s linear;
  -moz-transition: opacity .5s linear;
  -webkit-transition: opacity .5s linear;
}

section.filter ul {
  list-style:none;
}

section.filter li:hover {
  opacity:1;
  transition: opacity .5s linear;
  -moz-transition: opacity .5s linear;
  -webkit-transition: opacity .5s linear;
}

section.selected li {
  display:none;
}

section.filter div {
  padding: 20px 0px 0px 0px;
}

section.selected li.selected {
  display:block;
  opacity:1;
}

section.selected li.selected mark {
  background-color:transparent;
}

#location ul li {
  background-color:#9AE69D;
}

#company ul li {
  background-color:#E69A9D;
}

#education ul li {
  background-color:#4093F0;
}

#industry ul li {
  background-color:#FFA60C;
}

#logo {
  float:left;
  margin:5px 20px 0px 0px;
}

#search input {
  border: 1px solid #999;
  outline:0;
  height:45px;
  width:99%;
  font-size:2em;
  margin: 15px 0px 0px 0px;
}

#li-login {
  position:absolute;
  right:50px;
  top:20px;
  display:none;
}

#people {
  width: 50%;
  float: right;
  clear: right;
}

#peopleList {
  list-style: none;
}

.profileBox {
  border: 1px solid LightGray;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 5px;
  min-height: 88px;
  opacity: 0.7;
  transition: opacity .7s linear;
  -moz-transition: opacity .7s linear;
  -webkit-transition: opacity .7s linear;
}
.profileBox:hover {
  background-image: -moz-linear-gradient(right top,
    rgb(231,238,240)  30%,
    rgb(158,189,201)  71%,
    rgb( 87,157,166) 100%
  );
  background-image: -webkit-gradient(linear, right top, left bottom,
    color-stop(0.30, rgb(231,238,240)),
    color-stop(0.71, rgb(158,189,201)),
    color-stop(1.00, rgb( 87,157,166))
  );
  opacity: 1;
  transition: .3s ease;
  -moz-transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5); 
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5); 
}

.profileBox .profileLink {
  text-decoration: none;
}
.profileBox .profilePicture {
  width: 80px;
  height: 80px;
  margin: 4px;
  float: left;
  clear: left;
}
.profileBox .firstName,.lastName {
  font-weight: bolder;
}
.profileBox .messageLink {
  display: block;
  float: right;
  clear: right;
  text-decoration: none;
}
.messageIcon {
  display: block;
  margin: 4px;
  width: 32px;
  height: 32px;
  background: url('http://static01.linkedin.com/scds/common/u/img/sprite/sprite_inbox_v3_icon.png') no-repeat right -96px;
  border: 0pt;
}
.messageIcon:hover {
}


